html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

#welcome {
    font-size:calc(18px + 1vw);
}

.heading {
    font-size: calc(20px + 1vw);
}

#intro {
    font-size:calc(14px + .3vw);
}

.card {
    position: relative;
    overflow: hidden;
    margin-bottom: 10%;
}

.card-img-top {
    transition: all .2s ease-in-out;
    height: 200px;
    object-fit:cover;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.card:hover .card-body {
    background-color: #ddd;
}

.card:hover .card-title {
    color: #3333FF;
}

.pic {
    width: 17%;
    height: 17%;
    aspect-ratio: 1/1;
}

section {
    padding-top: 4%;
}

.bg-g {
    background-color: lightgray;
}

.header {
    height: calc(100px + 8vw);
    align-items: center;
    display: flex;
}
