/* main styles */

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

section {
    padding-top: 4%;
}

.bg-g {
    background-color: #e3e3e3;
}

.heading {
    font-size: calc(20px + 1vw);
}

/* header styles */

#welcome {
    font-size:calc(18px + 1vw);
}

#intro {
    font-size:calc(14px + .3vw);
}

.pic {
    width: calc(50px + 9vw);
    height: calc(50px + 9vw);
    aspect-ratio: 1/1;
}

.header {
    height: calc(100px + 8vw);
    align-items: center;
    display: flex;
}

/* card styles */

.card {
    position: relative;
    overflow: hidden;
    margin-bottom: 10%;
    border-width: 2.5px !important; 
    border-color: #e3e3e3 !important;
}

.card-img-top {
    transition: all .2s ease-in-out;
    height: 200px;
    object-fit:cover;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.card:hover .card-body {
    background-color: #e3e3e3;
}

.card:hover .card-title {
    color: #3333FF;
}

/* contact styles */

.social {
    font-size: 1.4em;
    line-height: 2em;
    width: 2em;
    height: 2em;
    display: inline-block;
    font-weight: bold;
}

.social:hover {
    text-decoration: none;
}
